*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height:100%;
}

.box{
    border: 2px solid;
}

.song{
    border: transparent; 
    background-color: transparent; 
    cursor: pointer;
}

.song:hover{
    background-image: url(lucj.png);
}